.selected {
    background-color: #434343 !important;
    background-image: none;
}

.country-name {
    color: #FFFFFF !important;
}
body {
    font-family: 'Roboto', sans-serif;
}
label {
    font-weight: normal; /*clear bootstrap*/
}
#li:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.company-select {
    padding: 15px;
}
.calendar-container {
  display: -webkit-flex;
  display: flex;
  padding: 15px;
}
.country-list {
  flex: 1
}
.table-container {
  flex: 11
}